
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.assets{
  height: 700px;
  background-position: left;
}
.profil{
  max-width: 40%;
  margin: 100px auto  0;
  display: block;
  justify-content: center;
  align-items: center;
}
.keatas{
  margin-top: 100px;
}
.body{
  box-sizing: border-box;
}
.bgcontent{
  height: 500px;
}
.dua{
  background-image: url("wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.satu{
  background-image: url("wavedua.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.tiga{
  background-image: url("wavedua.svg");
  background-size: cover;
  background-repeat: no-repeat;
}